body {
	color: white;
}

html { 
	background: url(../images/maks3.jpg) no-repeat left top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#name {
	position: absolute;
	top: 20px;
	right: 70px;
	text-align: right;
    opacity: 0.8;
}

#services {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

#services .fa{
  color: white;
}

#services .fa-circle{
  opacity: 0.8;
  text-shadow: 0px 0px 4px #888888;
}

#services .fa-inverse{
  color: grey;
}

#services .fa-lg:hover > .fa-inverse{
  color: black;
}

#services .fa-lg:hover > .fa-circle{
  text-shadow: 0px 0px 4px #ffffff;
}
